accelerate
einops==0.8.1
fastapi==0.116.1
huggingface_hub==0.34.4
kornia==0.8.1
numpy==2.3.2
opencv_python
opencv_python_headless
Pillow==11.3.0
pillow_heif==1.1.0
prettytable==3.16.0
scipy==1.16.1
scikit-image
timm==1.0.19
tqdm==4.67.1
uvicorn==0.35.0
python-multipart
black
isort
flake8